/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Quicksand&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'barlow', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    text-shadow: 1px 1px #3a3a3a;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
        /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Group photo */
#group-photo {
    height: 450px;
    width: 100%;
    background: url(../images/Group\ photo.PNG) no-repeat center center/cover;
       
}

/* Home page content */

#about {
    font-size: 150%;
    letter-spacing: 2px;
    list-style-type: none;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#about>p {
    margin-bottom: 1em;
    padding: 2%;
}

#next-event {
    text-align: center;
    font-size: large;
    
}

/* Gallery page */

#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    }
   
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* media query: tablets and larger (760px and up) */
@media screen and (min-width: 760px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    
    #menu {
        display: flex;
    }

    #menu > li {
        padding: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    

        /* Main content */
        main {
            /* Push main content down to accommodate larger header */
            margin-top: 85px;
        }
}

/* larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }  
  
}