/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Quicksand&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    background-image: linear-gradient(to bottom, #051937, #003b58, #005f70, #328480, #6da88b, #82b58a, #9bc089, #b7cb89, #adc478, #a3bd67, #98b655, #8eaf43);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #080808;
    font-family: 'barlow', sans-serif;
}

h1
 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 1px 1px #3a3a3a;
}

h2
h3 {
font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 1px 1px #3a3a3a;
}
/* Header */
header {
    background-color: #051937;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    color: #ffffff;
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #051937;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #070707;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Group photo */
#group-photo {
    height: 450px;
    width: 100%;
    background: url(../images/group-photo.jpg) no-repeat center center/cover;
}

/* Home page content */

#about {
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    height: 90%;
    padding: 20px;
    background-color: #C4D49F;
    text-align: center;
    font-size: large;
    border-radius: 35px;
}

#about>p {
    margin-bottom: 1em;
    padding: 2%;
}

#next-event {
    width: 60%;
    height: 50%;
    border: 3px solid #346a85;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    background-color: #C4D49F;
    text-align: center;
    font-size: large;
    border-radius: 35px;
}

/* Gallery page */

#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Contact Page  */


#love-to-hear-from-you {
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    height: 90%;
    padding: 20px;
    background-color: #C4D49F;
    text-align: center;
    font-size: large;
    border-radius: 35px;
}

#love-to-hear-from-you>p {
    margin-bottom: 1px;
    padding: 2%;
}

#get-in-touch {
    background-image: url(../images/group-photo.jpg);
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    margin-bottom: 2em;
    border-radius: 35px;
}

#contactus_form {
    color: #ffffff;
    background-color: rgba(36, 34, 34, 0.6);
    padding: 30px;
    border-radius: 35px;
}

#contactus_form>h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #ffffff;
    width: 100%;
    height: 35px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submit {
    margin-top: 20px;
    border-radius: 35px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #C4D49F;
    color: #000000;
}

/* Feedback page */

#thanku {
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
    height: 300px;
    padding: 20px;
    background-color: #C4D49F;
    text-align: center;
    font-size: large;
    border-radius: 35px;
}

#thanku>p {
    margin-bottom: 1em;
    padding: 2%;
}

/* Footer */

footer {
    background-color: #8EAF43;
    height: 100px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: large or landscap phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 85px;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }
}

/* Contact Us */
#get-in-touch {
    background-position: center;
    position: relative;
}

#contactus_form {
    max-width: 400px;
    left: 10%;
    top: 150px;
}

.text-input:hover {
    border-color: #000000;
}

.submit-button:hover {
    background-color: #87bdd8;
    color: #000000;
}

/* larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Gallery */
    #photos {
        column-count: 4;
    }

}